// colors
$black: #000;
$white: #fff;
$gray: #BDBDBD;
$gray2: #68676E;
$purple: #898CA9;
// fonts
$changa: 'Changa', sans-serif;
$dmSans: 'DM Sans', sans-serif;
$inter: 'Inter', sans-serif;
$montserrat: 'Montserrat', sans-serif;



