// colors
$primary: #256f64;
$main : #5d83e5;
$black: #000;
$white: #fff;
$gray: #BDBDBD;
$purple: #898CA9;
// fonts
$changa: 'Changa', sans-serif;
$dmSans: 'DM Sans', sans-serif;
$inter: 'Inter', sans-serif;
$montserrat: 'Montserrat', sans-serif;



