.dash {
    padding: 20px 0 70px;
    min-height: 60vh;

    .auto__container {
        max-width: 1280px;
    }

    &.big {
        padding: 50px 0 130px;

        .auto__container {
            max-width: 1450px;
        }
    }

    &__inner {
        &-status {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding: 4px 8px;
            background: linear-gradient(90.67deg, rgba(43, 71, 79, 0.41) 14.94%, rgba(30, 28, 26, 0.41) 107.27%);
            border-radius: 16px;
            margin-bottom: 32px;
        }

        &-main {
            display: flex;
            justify-content: space-between;

            .dashItem {
                width: 100%;
                min-height: 160px;

                &:nth-child(n) {
                    margin: 0 0 13px;
                }

                &:last-child {
                    margin: 0;
                }

                &__row {
                    width: 30%;
                    max-width: 418px;
                    margin: 0;
                }
            }
        }

        &-header {
            text-align: center;
            max-width: 630px;
            margin: 0 auto 54px;

            p {
                color: $purple;
            }
        }

        &-title {
            text-align: start;
            margin-bottom: 24px;
        }

        &-tab {
            max-width: 530px;
            margin: 0 auto 36px;

            &-buttons {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 46px;

                .button {
                    padding: 8px 14px;
                    font-size: 13px;
                    line-height: 16px;
                    font-weight: 400;
                    letter-spacing: 0.5px;
                    border: 1px solid transparent;
                    background: linear-gradient(90deg, rgba(30, 34, 61, 0.36) 0%, rgba(38, 43, 71, 0.36) 100%);
                    box-shadow: inset 0px 0px 30px 5px rgba(255, 255, 255, 0.01);
                    border-radius: 4px;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    position: relative;

                    &::before {
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(225deg, rgba(58, 52, 50, 0.7) 14.89%, rgba(40, 45, 48, 0.7) 85.85%);
                        opacity: 0;
                        pointer-events: none;
                        transition: .8s ease;
                        border-radius: 4px;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }

                    &.active {
                        border-color: rgba(255, 255, 255, 0.3);

                        &::before {
                            opacity: 1;
                        }
                    }

                    &:hover {
                        border-color: rgba(255, 255, 255, 0.3);

                        &::before {
                            opacity: 1;
                        }
                    }

                    &:last-child {
                        border-radius: 4px;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;

                        &::before {
                            border-radius: 4px;
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                        }
                    }

                    span {
                        position: relative;
                    }
                }
            }

            &-connect {
                border-radius: 20px;
                padding: 32px 24px 24px;
                background: radial-gradient(82.87% 517.52% at 17.05% 65.16%, rgba(37, 76, 88, 0.91) 0%, rgba(84, 50, 39, 0.91) 100%);
                backdrop-filter: blur(10px);
                text-align: center;

                .button {
                    width: 100%;
                    padding: 16px 20px;
                }
            }

            h5 {
                margin-bottom: 18px;
            }

            p {
                margin-bottom: 32px;
            }

        }

        h2 {
            margin-bottom: 16px;
            text-transform: uppercase;
        }

        h3 {
            margin-bottom: 6px;
        }
    }

    &Status {
        width: calc(33.3% - 16px);
        margin: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 28px 50px 28px 28px;
        border-radius: 20px;
        background: radial-gradient(82.87% 517.52% at 17.05% 65.16%, rgba(37, 76, 88, 0.91) 0%, rgba(84, 50, 39, 0.91) 100%);
        backdrop-filter: blur(10px);
        letter-spacing: 0.5px;

        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 62px;
            height: 62px;

            img {
                width: 100%;
            }
        }

        p {
            margin-bottom: 8px;
        }
    }

    &Item {
        border-radius: 20px;
        width: calc(50% - 8px);
        overflow: hidden;
        display: flex;
        flex-direction: column;

        &.gr {
            background: radial-gradient(82.87% 517.52% at 17.05% 65.16%, rgba(37, 76, 88, 0.91) 0%, rgba(84, 50, 39, 0.91) 100%);
            position: relative;

            &::before {
                position: absolute;
                content: "";
                bottom: 0;
                right: 5%;
                width: 60%;
                height: 46%;
                max-width: 170px;
                border-radius: 50%;
                background: rgba(197, 126, 49, 0.77);
                filter: blur(56px);
                transform: translateY(20%);
                pointer-events: none;
            }
        }

        &:nth-child(n + 3) {
            margin-top: 15px;
        }

        &__row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }

            &.big {
                margin: 0 -15px 70px;

                &:last-child {
                    margin-bottom: 0;
                }

                .dashItem {
                    width: calc(50% - 30px);
                    margin: 15px;
                }
            }
        }

        &__title {
            padding: 16px;
            margin-bottom: 10px;
            text-align: center;

            &.left {
                text-align: start;
                display: flex;
                align-items: center;
                justify-content: space-between;

                h6 {
                    font-weight: 400;
                }

                span {
                    width: 16px;
                    height: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 6px;

                    &:last-child {
                        margin: 0;
                    }

                    img {
                        width: 100%;
                    }
                }
            }

            &.ex {
                padding: 24px 24px 14px;

                h6 {
                    font-size: 22px;
                    line-height: 26px;
                    font-weight: 500;
                }
            }

            &-icons {
                display: flex;
                align-self: center;
            }

            a {
                display: flex;
                align-items: center;
                font-size: 15px;
                line-height: 19px;
                font-weight: 400;
                color: #5FC486;
                letter-spacing: 0.5px;

                svg {
                    width: 14px;
                    height: 14px;
                    margin-left: 7px;
                    fill: transparent;
                    stroke: #5FC486;
                }
            }

            h6 {
                font-weight: 500;
                font-size: 15px;
                line-height: 21px;
            }
        }

        &__header {
            padding: 15px 16px;
            margin-bottom: 12px;

            h6 {
                display: inline-block;
                font-size: 15px;
                line-height: 21px;
                position: relative;
                padding-right: 20px;

                &::before {
                    position: absolute;
                    content: "";
                    width: 9px;
                    height: 9px;
                    top: 50%;
                    right: 0;
                    border-top: 2px solid $white;
                    border-right: 2px solid $white;
                    transform: translateY(-70%) rotate(135deg);
                }
            }

            p {
                font-size: 11px;
                line-height: 15px;
                color: #A9A9B0;
                font-weight: 400;
            }
        }

        &__info {
            padding: 0 22px 0 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 8px;
            position: relative;

            &:last-child {
                margin-bottom: 12px;
            }

            &-wrapper {
                padding-bottom: 4px;
                margin-bottom: 16px;

                &.sm {
                    margin-bottom: 0;
                }
            }

            p {
                color: $white;
                font-weight: 500;
                letter-spacing: 0.5px;
                font-size: 14px;
                line-height: 18px;
                font-weight: 500;

                b {
                    color: #5EBB81;
                    font-weight: 400;
                }

                &.sm {
                    text-decoration: underline;
                    font-weight: 400;
                    text-align: end;
                }

                &.reg {
                    font-weight: 400;
                    opacity: .7;
                }

                &.base {
                    text-decoration: unset;
                }
                &:first-child {
                    margin-right: 10px;
                }
            }
        }

        &__bar {
            display: flex;
            width: 95%;
            max-width: 432px;
            margin: 22px 0 45px;
            padding: 0 16px;

            &-inner {
                width: 100%;
                border-radius: 8px;
                overflow: hidden;
                height: 11px;
                position: relative;
            }

            &.lg {
                margin-bottom: 18px;

                span {
                    background-color: #38327D;

                    &:nth-child(2) {
                        width: 60%;
                        background-color: #1A30F7;
                    }

                    &:nth-child(3) {
                        width: 44%;
                        background-color: #3AC5C5;
                    }

                    &:nth-child(4) {
                        width: 21%;
                        background-color: #2799CA;
                    }
                }
            }

            span {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                border-radius: 8px;
                background-color: #4EE6DD;

                &:nth-child(2) {
                    width: 60%;
                    background-color: #B456E0;
                }

                &:nth-child(3) {
                    width: 37%;
                    background-color: #EBA769;
                }
            }
        }

        &__buttons {
            padding: 14px 16px 12px;
            border-top: 1px solid $white;
            margin: auto 0 0 0;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &.big {
                .button {
                    margin-right: 12px;

                    &:last-child {
                        margin: 0;
                    }
                }
            }

            &.ex {
                padding: 14px 14px 14px 24px;
                border: unset;
            }

            &-row {
                display: flex;
                align-items: center;
            }
        }

        &__text {
            padding: 0 24px;
            margin-bottom: 8px;

            p {
                max-width: 500px;
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }

                &.sm {
                    color: #A0A3C4;
                    padding-left: 6px;
                }
            }
        }

        &__health {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 22px 22px 16px;

            &-inner {
                display: flex;
                align-items: center;
                width: calc(100% - 40px);
            }

            &-bar {
                margin-left: 9px;
                height: 10px;
                border-radius: 8px;
                background: linear-gradient(90deg, #EBA769 3.54%, #398102 106.04%);
                width: 80%;
                max-width: 240px;
            }

            p {
                font-size: 13px;
                line-height: 16px;
                opacity: .7;

                &:last-child {
                    opacity: 1;
                    text-align: end;
                    justify-self: flex-end;
                }
            }
        }

        .button {
            padding: 16px 22px;
            margin-right: 20px;

            &.sm {
                font-size: 12px;
                padding: 12px 14px;
            }

            &.lg {
                padding: 16px 36px;
            }

            &.xlg {
                padding: 16px 56px;
            }

            &:last-child {
                margin: 0;
            }
        }
    }

    .tradeGraph {
        width: calc(40% - 20px);
    }

    &Wallet {
        width: 30%;
    }
}

// 1440px
@mixin dash-xlg-xxlg {
    .dash {
        &.big {
            padding: 30px 0 90px;
        }



        &Status {
            padding: 20px;
            border-radius: 15px;
            margin: 4px;
            width: calc(33.3% - 8px);

            &__icon {
                width: 50px;
                height: 50px;
            }
        }

        &Item {
            &__row {
                &.big {
                    margin: 0 -8px 45px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .dashItem {
                        width: calc(50% - 16px);
                        margin: 8px;
                    }
                }
            }

            &__title {
                &.ex {
                    padding: 16px 16px 4px;

                    h6 {
                        font-size: 18px;
                        line-height: 22px;
                    }
                }
            }

            &__text {
                padding: 0 16px;

                p {
                    margin-bottom: 10px;

                    &.md {
                        font-size: 16px;
                        line-height: 22px;
                    }

                    &.sm {
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
            }

            &__buttons {
                &.big {
                    .button {
                        margin-right: 6px;
                    }
                }

                &.ex {
                    padding: 10px 10px 10px 16px;
                }
            }

            .button {
                padding: 12px 15px;
                margin-right: 8px;
                border-radius: 8px;
                font-size: 14px;

                &.sm {
                    font-size: 11px;
                    padding: 9px 11px;
                }

                &.lg {
                    padding: 12px 22px;
                }

                &.xlg {
                    padding: 12px 30px;
                }
            }
        }
    }
}

// 1024px
@mixin dash-lg-xlg-extra {
    .dash {
        &__inner {
            &-main {
                flex-wrap: wrap;

                .dashItem {
                    width: calc(33.3% - 10px);
                    &:nth-child(n) {
                        margin: 0;
                    }
                    &__row {
                        order: 3;
                        width: 100%;
                        max-width: unset;
                        margin-top: 20px;
                    }
                }
            }
        }

        .tradeGraph {
            width: calc(50% - 10px);
            order: 1;
        }

        &Wallet {
            width: calc(50% - 10px);
            order: 2;
        }
    }
}
// 1024px
@mixin dash-lg-xlg {
    .dash {
        &.big {
            padding: 30px 0 70px;
        }
        &__inner {
            &-main {
                .dashItem {
                    width: 100%;
                    &:nth-child(n) {
                        margin: 0 0 15px 0;
                    }
                    &:last-child {
                        margin: 0;
                    }
                    &__row {
                        flex-direction: column;
                    }
                }
            }
        }

        .tradeGraph {
            width: 100%;
            order: 1;
        }

        &Wallet {
            width: 100%;
            order: 2;
            margin-top: 20px;
        }
    }
}
// 930px
@mixin dash-md-lg {
    .dash {
        padding: 10px 0 60px;

        &Wallet {
            width: calc(50% - 8px);
        }

        &__inner {
            // &-main {
            //     .dashItem {
            //         &__row {
            //             width: calc(50% - 8px);
            //         }
            //     }
            // }

            &-status {
                margin-bottom: 20px;
                padding: 4px 6px;
            }

            &-header {
                margin-bottom: 40px;
            }

            &-title {
                margin-bottom: 20px;
            }

            h2 {
                margin-bottom: 10px;
            }
        }

        &Status {
            padding: 12px;
            border-radius: 12px;
            margin: 3px;
            width: calc(33.3% - 6px);

            &__icon {
                width: 40px;
                height: 40px;
            }

            h4 {
                font-size: 18px;
                line-height: 22px;
            }

            p {
                font-size: 12px;
                line-height: 16px;
                margin-bottom: 5px;
            }
        }

        &Item {
            &__row {
                &.big {
                    margin: 0 -5px 30px;

                    .dashItem {
                        width: calc(50% - 10px);
                        margin: 5px;
                    }
                }
            }

            &__title {
                padding: 14px;
            }

            &__info {
                padding: 0 14px;
                margin-bottom: 6px;

                &-wrapper {
                    margin-bottom: 12px;
                }

                p {
                    font-size: 12px;
                    line-height: 14px;
                }
            }

            &__header {
                margin-bottom: 5px;
                padding: 14px;
            }

            &__bar {
                margin: 16px 0 30px;
            }

            &__buttons {
                padding: 12px 14px;
            }

            .button {
                padding: 10px 12px;
                margin-right: 7px;
                border-radius: 6px;
                font-size: 12px;

                &.sm {
                    font-size: 11px;
                    padding: 8px 10px;
                }

                &.lg {
                    padding: 10px 18px;
                }

                &.xlg {
                    padding: 10px 24px;
                }
            }
        }
    }
}

// 840px
@mixin dash-md-lg-extra {
    .dash {
        &Item {
            &__row {
                &.big {
                    flex-direction: column;
                    margin: 0 0 30px;

                    .dashItem {
                        width: 100%;
                        margin: 0 0 20px 0;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        &__title {
                            padding: 16px 20px;
                        }

                        &__info {
                            padding: 0 20px;

                            p {
                                font-size: 14px;
                                line-height: 16px;
                            }
                        }

                        &__buttons {
                            padding: 14px 20px;
                        }
                    }
                }

                &.buy {
                    flex-direction: column;

                    .dashItem {
                        width: 100%;
                        margin: 0 0 20px 0;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

// 750px
@mixin dash-sm-md {
    .dash {
        &__inner {
            &-header {
                margin-bottom: 25px;
            }

            &-tab {
                margin-bottom: 28px;
                padding-top: 20px;

                &-buttons {
                    margin-bottom: 30px;
                }

                &-connect {
                    .button {
                        padding: 14px 20px;
                    }
                }
            }

            h2 {
                margin-bottom: 6px;
            }

            h3 {
                margin-bottom: 4px;
            }
        }

        &Status {
            padding: 10px;
            border-radius: 10px;
            margin: 3px;
            width: calc(33.3% - 6px);

            &__icon {
                width: 30px;
                height: 30px;
            }

            h4 {
                font-size: 15px;
                line-height: 19px;
            }

            p {
                font-size: 10px;
                line-height: 13px;
                margin-bottom: 3px;
            }
        }

        &Item {
            width: calc(50% - 5px);
            border-radius: 16px;

            &__row {
                margin-bottom: 20px;
            }

            &__title {
                padding: 12px;
            }

            &__header {
                margin-bottom: 0;
                padding: 12px 14px;
            }

            &__info {
                p {
                    font-size: 11px;
                    line-height: 13px;
                }
            }

            &__bar {
                &-inner {
                    height: 8px;
                    border-radius: 6px;
                }

                span {
                    border-radius: 6px;
                }
            }
        }
    }
}

// 650px
@mixin dash-sm-md-extra {
    .dash {
        &__inner {
            &-main {
                .dashItem {
                    &__row {
                        width: 100%;
                    }
                }
            }
        }
        &wallet {
            width: 100%;
        }
        &Status {
            padding: 15px;
            border-radius: 12px;
            margin: 5px;
            width: 100%;

            &__icon {
                width: 50px;
                height: 50px;
            }

            h4 {
                font-size: 18px;
                line-height: 24px;
            }

            p {
                font-size: 14px;
                line-height: 18px;
                margin-bottom: 6px;
            }
        }

        &Item {
            width: 100%;
            margin-bottom: 20px;
            min-height: 140px;

            &:nth-child(n + 3) {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &__row {
                flex-direction: column;
            }

            &__title {
                padding: 12px 16px;
                margin-bottom: 14px;
            }

            &__header {
                padding: 12px 16px;
                margin-bottom: 6px;
            }

            &__info {
                margin-bottom: 8px;
                padding: 0 16px;

                p {
                    font-size: 15px;
                    line-height: 18px;
                }
            }

            &__bar {
                margin: 14px 0 18px;
            }
        }
    }
}

// 540px
@mixin dash-xsm-sm {
    .dash {
        padding: 10px 0 40px;
        &.big {
            padding: 30px 0 50px;
        }
        &__inner {
            &-tab {
                margin-bottom: 20px;
                padding-top: 10px;

                &-buttons {
                    margin-bottom: 25px;
                }

                &-connect {
                    padding: 22px 16px 16px;
                }

                h5 {
                    margin-bottom: 12px;
                }

                p {
                    margin-bottom: 20px;
                }
            }
        }

        &Item {
            &__row {
                &.big {
                    .dashItem {
                        &__title {
                            padding: 12px 16px;
                        }

                        &__info {
                            padding: 0 16px;

                            p {
                                font-size: 12px;
                                line-height: 14px;
                            }
                        }

                        &__buttons {
                            padding: 12px 16px;
                        }
                    }
                }
            }

            &__info {
                p {
                    font-size: 13px;
                    line-height: 16px;
                }
            }
        }
    }
}

// 440px
@mixin dash-xxsm-xsm {
    .dash {
        &Item {
            margin-bottom: 15px;
            min-height: 110px;

            &__row {
                &.buy {
                    .dashItem {
                        margin-bottom: 15px;
                    }
                }

                &.big {
                    margin: 0 0 20px;

                    .dashItem {
                        margin: 0 0 15px 0;

                        &__title {
                            padding: 10px 14px;
                        }

                        &__info {
                            padding: 0 14px;

                            p {
                                font-size: 11px;
                                line-height: 13px;
                            }
                        }

                        &__buttons {
                            padding: 12px 14px;
                        }
                    }
                }
            }

            &__title {
                padding: 10px 14px;
                margin-bottom: 10px;

                &.ex {
                    padding: 12px 14px;
                    margin: 0;

                    h6 {
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }

            &__text {
                padding: 0 14px;

                p {
                    margin-bottom: 6px;

                    &.md {
                        font-size: 14px;
                        line-height: 20px;
                    }

                    &.sm {
                        padding-left: 4px;
                    }
                }
            }

            &__buttons {
                &.ex {
                    padding-left: 14px;

                    .button {
                        font-size: 10px;
                        padding: 8px 10px;
                    }
                }
            }

            &__header {
                padding: 10px 14px;
                margin-bottom: 0;
            }

            &__info {
                padding: 0 14px;
                margin-bottom: 6px;

                p {
                    font-size: 12px;
                    line-height: 14px;
                }
            }
        }
    }
}