h1 {
    font-weight: 500;
    font-size: 78px;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
    font-family: $changa;
    user-select: none;
    span {
        background: linear-gradient(225deg, rgba(255, 193, 136, 0.7) 14.89%, rgba(103, 131, 148, 0.7) 85.85%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}

h2 {
    font-weight: 700;
    font-size: 44px;
    line-height: 48px;
    user-select: none;
    &.big {
        font-weight: 700;
        font-size: 48px;
        line-height: 46px;
    }
    &.gradient {
        text-transform: uppercase;
        background: linear-gradient(225deg, rgba(255, 193, 136, 0.7) 14.89%, rgba(103, 131, 148, 0.7) 85.85%);
        span {
            background: $white;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

h3 {
    font-weight: 700;
    font-size: 33px;
    line-height: 42px;
    letter-spacing: 0.5px;
}

h4 {
    font-weight: 600;
    font-size: 29px;
    line-height: 35px;
}

h5 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

h6 {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    &.sm {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
    }
}

p {
    &.sm {
        font-size: 14px;
        line-height: 18px;
    }

    &.md {
        font-size: 18px;
        line-height: 24px;
    }

    &.big {
        font-size: 20px;
        line-height: 30px;
    }
}

.main {
    overflow: hidden;
    padding-top: 90.85px;
    position: relative;
    min-height: 100vh;
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: -1;
        &-top {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
            }
        }
        &-inner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: .7;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

    }
    &__blur {
        position: absolute;
        top: 0;
        left: 0;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
        }
    }
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 20px 36px;
    font-size: 16px;
    line-height: 100%;
    color: $white;
    font-weight: 600;
    font-family: $inter;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: linear-gradient(225deg, rgba(58, 52, 50, 0.7) 14.89%, rgba(40, 45, 48, 0.7) 85.85%);
    cursor: pointer;
    transition: .3s ease;
    &:hover {
        opacity: 1;
        color: #EFE163;
    }
}

.input {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    background-color: #FFFFFF1A;
    border-radius: 9px;
    input {
        padding: 10px 80px 10px 36px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        background-color: transparent;
        font-family: $dmSans;
        color: $white;
        z-index: 1;
        &::placeholder {
            color: $white;
        }
    }
    .button {
        padding: 12px 28px;
        border-radius: 10px;
        position: relative;
        z-index: 2;
        cursor: pointer;
        &:hover {
            opacity: 1;
            svg {
                fill: #EFE163;
            }
        }
        svg {
            width: 16px;
            height: 16px;
            fill: $white;
            transition: .3s ease;
        }
    }
}
.block {
    border-bottom: 1px solid $white;
}
.frame {
    background: radial-gradient(82.87% 517.52% at 17.05% 65.16%, rgba(37, 76, 88, 0.91) 0%, rgba(84, 50, 39, 0.91) 100%);
}